.App {
  /* background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%); */
  min-height: 100vh;
  background-color: beige;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  padding: 10px;
  border: none;
}

.search-button {
  background-color: #fcb69f;
  border-width: 0;
  padding: 7.5px 20px;
  color: white;
  font-weight: bold;
  font: 1em sans-serif;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.recipe-card {
  border-radius: 10px;
  box-shadow: 0px 5px 20px grey;
  margin: 20px;
  flex-direction: column;
  justify-content: space-around;
  background: white;
  align-items: center;
  width: 40%;
  min-width: 300px;
  padding-right: 20px;
  padding-bottom: 20px;
}

img {
  width: 75%;
  min-width: 90px;
  margin: 20px;
  border-radius: 10px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

h1 {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1.5rem;
}

.recipe-content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 165px;
  grid-template-areas: "img ingrediant" "notes ingredient";
}

.ingrediant {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.notes {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  margin-left: 20px;
  margin-top: 0px;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 20px;
}

a, p {
  margin: 5px;
}

a:link {
  color: black;
}

a:visited {
  color: grey;
}

a:hover {
  color: #fcb69f;
}

/* a:active {
  color: #fcb69f;
} */
